<div class="container-fluid px-5  bg-light text-gray">
    <div class="row p-4">
        <div class="col-6 my-5">
            <h2 class="text-green-dark">Pacientes</h2>
        </div>
        <div class=" row col-6 my-5">
            <div class="col-8">
                <form action="">
                    <input class="form-control text-gray border-2" type="text" placeholder="Buscar">
                </form>


            </div>
            <div class="col-4 ">
                <button class="btn bg-green-blue btn-hover text-white  fw-bold shadow" [routerLink]="['/','dashboard','pacientes','forumlario-paciente']"><i
                        class="fa-solid fa-user-plus"></i>
                    Nuevo paciente</button>
            </div>

        </div>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
                <th class="text-green-dark" mat-header-cell *matHeaderCellDef> Nombre </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.fullName.firstName}} {{element.fullName.secondName}} {{element.fullName.firstLastName}} {{element.fullName.secondLastName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="birthday">
                <th class="text-green-dark" mat-header-cell *matHeaderCellDef> Fecha de Naciemiento </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.birthday | date:'dd/MM/YYY'}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="gender">
                <th class="text-green-dark" mat-header-cell *matHeaderCellDef> Genero </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{findGender(element.gender)?.gender}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="documentType">
                <th class="text-green-dark" mat-header-cell *matHeaderCellDef>Tipo de Documento </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{findDocumentType(element.documentType)?.documentType}} </td>
            </ng-container>

            <ng-container matColumnDef="identification">
                <th class="text-green-dark" mat-header-cell *matHeaderCellDef> Documento </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.identification}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th class="text-green-dark" mat-header-cell *matHeaderCellDef> Actions </th>
                <td class="text-gray" mat-cell *matCellDef="let element">
                    <!-- generar atencion inicial - lleva a la historia clinica -->
                    <button type="button" class="btn border-0" [disabled]="element.historyState">
                      <i class="fa-solid fa-file-waveform text-green-dark" (click)="iniciarAtencion(element.id)" matTooltipPosition="above" [matTooltip]="'Iniciar Atención'"></i>
                    </button>
                  <!-- Seguir editando historia activa -->
                  <button type="button" class="btn border-0 mx-3" [disabled]="!element.historyState">
                    <i class="fa-solid fa-laptop-medical text-green-dark" (click)="editarHistoriaActiva(element.id, element.historyId)" matTooltipPosition="above" [matTooltip]="'Continuar Atencion'"></i>
                  </button>
                  <!-- historial clinico completo de atenciones -->
                  <button type="button" class="btn  border-0 mx-2" >
                    <i class="fa-regular fa-folder-open text-green-dark " (click)="verHistorailClinico(element.id)" matTooltipPosition="above" [matTooltip]="'Carpeta historial'"></i>
                  </button>
                  <button type="button" class="btn  border-0" >
                    <i class="fa-solid fa-file-pen text-green-dark " (click)="editarPaciente(element.id)" matTooltipPosition="above" [matTooltip]="'Editar perfil paciente'"></i>
                  </button>

                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="text-gray" [length]="dataSource ? dataSource.data.length : 0"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
