<div class="container-fluid my-5 bg-light text-gray">
    <div class="row">
        <div class="col-6">
            <h2>Pacientes</h2>
        </div>
        <div class=" row col-6">
            <div class="col-8">
                <form action="">
                    <input class="form-control" type="text">
                </form>


            </div>
            <div class="col-4">
                <a class="btn btn-info" [routerLink]="['/','dashboard','pacientes','forumlario-paciente']"><i
                        class="fa-solid fa-user-plus"></i>
                    Nuevo paciente</a>
            </div>

        </div>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
                <th class="text-gray" mat-header-cell *matHeaderCellDef> Nombre </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fechaNacimiento">
                <th class="text-gray" mat-header-cell *matHeaderCellDef> Fecha de Naciemiento </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="genero">
                <th class="text-gray" mat-header-cell *matHeaderCellDef> Genero </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.genero}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="tipoDocumento">
                <th class="text-gray" mat-header-cell *matHeaderCellDef>Tipo de Documento </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
            </ng-container>

            <ng-container matColumnDef="documento">
                <th class="text-gray" mat-header-cell *matHeaderCellDef> Documento </th>
                <td class="text-gray" mat-cell *matCellDef="let element"> {{element.documento}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th class="text-gray" mat-header-cell *matHeaderCellDef> Actions </th>
                <td class="text-gray" mat-cell *matCellDef="let element">
                    <!-- generar atencion inicial - lleva a la historia clinica -->
                    <i class="fa-solid fa-file-waveform" (click)="iniciarAtencion(element.id)"></i>
                    <!-- editar perfil del paciente -->
                    <i class="fa-solid fa-file-pen mx-3" (click)="editarPerfilPaciente(element.id)"></i>
                    <!-- historial clinico completo de atenciones -->
                    <i class="fa-regular fa-folder-open" (click)="verHistorailClinico(element.id)"></i>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="text-gray" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>