<div class="row mx-0">
  <div class="col-sm-11 col-md-auto card shadow mx-auto rounded-4 border-0 bg-green-light">
    <div class=" card-body">
      <form class="p-2 my-2 text-gray" [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
        <legend class="py-3">
          <h3 class="text-center fw-light text-blue fw-bolder">¿Olvidaste tu Contraseña?</h3>
        </legend>
        <div class="form-floating mb-3">
          <select id="documentType" class="form-select rounded-4 text-gray" formControlName="documentType">
            <option value="4" *ngFor="let option of documentTypes" [ngValue]="option.id">{{option.documentType}}</option>
          </select>
          <label for="documentType">Documento de Identidad</label>
          <div
            *ngIf="forgotPasswordForm.get('documentType')?.touched && forgotPasswordForm.get('documentType')?.getError('required')">
            <p class="text-muted">Este campo es requerido.</p>
          </div>
        </div>

        <div class="form-floating mb-3">
          <input id="identification" required class="form-control rounded-4" type="text"
                 formControlName="identification" placeholder="Numero de identificación" />
          <label for="identification">Numero de identificacion</label>
          <div
            *ngIf="forgotPasswordForm.get('identification')?.touched && forgotPasswordForm.get('identification')?.getError('required')">
            <p class="text-muted">Este campo es requerido.</p>
          </div>
        </div>

        <div class="row d-flex  justify-content-center align-content-center mx-0">
          <button class="btn bg-purple btn-hover text-white fw-bold rounded-pill shadow border-0 col-auto my-3"
                  id="btnInicioSesion">ENVIAR MAIL</button>
          <div class="col-12 row d-flex  justify-content-center align-content-center my-3">
            <a class="text-muted my-2 my-md-0 col-auto" [routerLink]="['/auth/login']">Iniciar sesion</a>
          </div>
        </div>
      </form>
      <!-- <div>
      <code><pre>{{recoveryPasswordForm.value| json}}</pre></code>
      <code><pre>{{recoveryPasswordForm.valid| json}}</pre></code>
  </div> -->
    </div>
  </div>
</div>
