<div class="container-fluid px-5 my-5 bg-light text-gray">
  <div class="row p-4 my-4">
    <div class="col-6">
      <h2 class="text-green-dark">Pacientes</h2>
    </div>
    <div class=" row col-6">
      <div class="col-8">
        <form action="">
          <input class="form-control text-gray border-2" type="text" placeholder="Buscar">
        </form>


      </div>
      <div class="col-4">
        <a class="btn bg-green-light text-white fw-bold shadow" [routerLink]="['/','dashboard','users','user-form']"><i
          class="fa-solid fa-user-plus"></i>
          Nuevo Usuario</a>
      </div>

    </div>
  </div>

