.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #03b2ce75
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar{
  min-height: 100px;
  background-color: #03b2ce75
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-dashboard{
  max-height: 70px;
  padding: 10px !important;
}

.imgLogo{
  max-height: 80px !important;
}

.image-nav{
  width: 200px;
  background-image: -moz-linear-gradient(#03b2ce75, #03b2ce82), url("../../../../../assets/images/cuerpo_mujer.png") ;
  background-size: cover;
  background-position: left;

}

