<div class="container-fluid">
  <div class="row py-5">
    <div class="card border-0 shadow col-11 mx-auto">
      <div class="card-body fs-5 ">
        <form action=""><div class="row  justify-contnet-start text-green-dark mb-4">
          <h3>Dispositivos Medicos</h3>
        </div>

          <div class="row col-12">
            <div class="row  fs-4 justify-contnet-start text-green-dark mb-4">
              <h3 class="border-bottom ">Drenes</h3>
            </div>
            <!--          drenes tipos -->
            <div class="row col-12">

              <div class="accordion" id="accordionPanelsStayOpenExample">

                <!--abdominal-->
                <div class="accordion-item ">
                  <h2 class="accordion-header ">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#abdominal-collapse" aria-expanded="true"
                            aria-controls="abdominal-collapse">
                      <span class="text-green-dark">Abdominal</span>
                    </button>
                  </h2>
                  <div id="abdominal-collapse" class="accordion-collapse collapse ">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="abdominalCheckbox1">
                            <label class="form-check-label text-green-dark" for="abdominalCheckbox1">
                              Exocvac
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="abdominalInput1" type="text" placeholder="">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="abdominalCheckbox2">
                            <label class="form-check-label text-green-dark" for="abdominalCheckbox2">
                              Jacell/Jackson-Pratt
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="abdominalInput2" type="text" placeholder="">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="abdominalCheckbox3">
                            <label class="form-check-label text-green-dark" for="abdominalCheckbox3">
                              Viaflex
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="abdominalInput3" type="text" placeholder="">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="abdominalCheckbox4">
                            <label class="form-check-label text-green-dark" for="abdominalCheckbox4">
                              Penrose
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaAbdominal" style="height: 100px"></textarea>
                          <label for="floatingTextareaAbdominal" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!--mamario-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button  bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mamarioCollapse" aria-expanded="false"
                            aria-controls="mamarioCollapse">
                      <span class="text-green-dark">Mamario</span>
                    </button>
                  </h2>
                  <div id="mamarioCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="mamarioCheckbox1">
                            <label class="form-check-label text-green-dark" for="mamarioCheckbox1">
                              Exocvac
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="mamarioInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="mamarioCheckbox2">
                            <label class="form-check-label text-green-dark" for="mamarioCheckbox2">
                              Jacell/Jackson-Pratt
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="mamarioInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="mamarioCheckbox3">
                            <label class="form-check-label text-green-dark" for="mamarioCheckbox3">
                              Viaflex
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="mamarioInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="mamarioCheckbox4">
                            <label class="form-check-label text-green-dark" for="mamarioCheckbox4">
                              Penrose
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaMamario" style="height: 100px"></textarea>
                          <label for="floatingTextareaMamario" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!--gluteo-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#gluteoCollapse" aria-expanded="false"
                            aria-controls="gluteoCollapse">
                      <span class="text-green-dark">Gluteos</span>
                    </button>
                  </h2>
                  <div id="gluteoCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="gluteoCheckbox1">
                            <label class="form-check-label text-green-dark" for="gluteoCheckbox1">
                              Exocvac
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="gluteoInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="gluteoCheckbox2">
                            <label class="form-check-label text-green-dark" for="gluteoCheckbox2">
                              Jacell/Jackson-Pratt
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="gluteoInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="gluteoCheckbox3">
                            <label class="form-check-label text-green-dark" for="gluteoCheckbox3">
                              Viaflex
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="gluteoInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="gluteoCheckbox4">
                            <label class="form-check-label text-green-dark" for="gluteoCheckbox4">
                              Penrose
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaGluteo" style="height: 100px"></textarea>
                          <label for="floatingTextareaGluteo" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- cara y cuello-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#caraCuelloCollapse" aria-expanded="false"
                            aria-controls="caraCuelloCollapse">
                      <span class="text-green-dark">Cara y cuello</span>
                    </button>
                  </h2>
                  <div id="caraCuelloCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="caraCuelloCheckbox1">
                            <label class="form-check-label text-green-dark" for="caraCuelloCheckbox1">
                              Exocvac
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="caraCuelloInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="caraCuelloCheckbox2">
                            <label class="form-check-label text-green-dark" for="caraCuelloCheckbox2">
                              Jacell/Jackson-Pratt
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="caraCuelloInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="caraCuelloCheckbox3">
                            <label class="form-check-label text-green-dark" for="caraCuelloCheckbox3">
                              Viaflex
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="caraCuelloInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="caraCuelloCheckbox4">
                            <label class="form-check-label text-green-dark" for="caraCuelloCheckbox4">
                              Penrose
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaCara" style="height: 100px"></textarea>
                          <label for="floatingTextareaCara" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- otros-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#otrosCollapse" aria-expanded="false"
                            aria-controls="otrosCollapse">
                      <span class="text-green-dark">Otros</span>
                    </button>
                  </h2>
                  <div id="otrosCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otrosCheckbox1">
                            <label class="form-check-label text-green-dark" for="otrosCheckbox1">
                              Exocvac
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otrosInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otrosCheckbox2">
                            <label class="form-check-label text-green-dark" for="otrosCheckbox2">
                              Jacell/Jackson-Pratt
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otrosInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otrosCheckbox3">
                            <label class="form-check-label text-green-dark" for="otrosCheckbox3">
                              Viaflex
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otrosInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otrosCheckbox4">
                            <label class="form-check-label text-green-dark" for="otrosCheckbox4">
                              Penrose
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaOtros" style="height: 100px"></textarea>
                          <label for="floatingTextareaOtros" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--sondas-->
              <div class="row  fs-4 justify-contnet-start text-green-dark mb-4">
                <h3 class="border-bottom mt-5 ">Sondas</h3>
              </div>
              <div class="accordion mb-3" id="accordionPanelsStayOpenExample3">

                <!--Nasogastrica-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#nasogastrica-collapse" aria-expanded="true"
                            aria-controls="nasogastrica-collapse">
                      <span class="text-green-dark">Nasogastrica</span>
                    </button>
                  </h2>
                  <div id="nasogastrica-collapse" class="accordion-collapse collapse ">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="nasogastricaCheckbox1">
                            <label class="form-check-label text-green-dark" for="nasogastricaCheckbox1">
                              Levin/Nelaton
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="nasogastricaInput1" type="text" placeholder="">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="nasogastricaCheckbox2">
                            <label class="form-check-label text-green-dark" for="nasogastricaCheckbox2">
                              Salem
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="nasogastricaInput2" type="text" placeholder="">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="nasogastricaCheckbox3">
                            <label class="form-check-label text-green-dark" for="nasogastricaCheckbox3">
                              Freka
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="nasogastricaInput3" type="text" placeholder="">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaNasogastrica" style="height: 100px"></textarea>
                          <label for="floatingTextareaNasogastrica" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!--vesical-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#vesicalCollapse" aria-expanded="false"
                            aria-controls="vesicalCollapse">
                      <span class="text-green-dark">Vesical</span>
                    </button>
                  </h2>
                  <div id="vesicalCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="vesicalCheckbox1">
                            <label class="form-check-label text-green-dark" for="vesicalCheckbox1">
                              Nelaton (evacuacion)
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="vesicalInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="vesicalCheckbox2">
                            <label class="form-check-label text-green-dark" for="vesicalCheckbox2">
                              Foley (2 vias)
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="vesicalInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="vesicalCheckbox3">
                            <label class="form-check-label text-green-dark" for="vesicalCheckbox3">
                              Foley (3 vias)
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="vesicalInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaVesical1" style="height: 100px"></textarea>
                          <label for="floatingTextareaVesical1" class="fs-6  text-gray">Observaciones</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--cistostomia-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#gluteoCollapse" aria-expanded="false"
                            aria-controls="gluteoCollapse">
                      <span class="text-green-dark">Cistostomia</span>
                    </button>
                  </h2>
                  <div id="cistoCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="cistoCheckbox1">
                            <label class="form-check-label text-green-dark" for="cistoCheckbox1">
                              Exocvac
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="cistoInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="cistoCheckbox2">
                            <label class="form-check-label text-green-dark" for="cistoCheckbox2">
                              Jacell/Jackson-Pratt
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="cistoInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="cistoCheckbox3">
                            <label class="form-check-label text-green-dark" for="cistoCheckbox3">
                              Viaflex
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="cistoInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="cistoCheckbox4">
                            <label class="form-check-label text-green-dark" for="cistoCheckbox4">
                              Penrose
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaVcisto" style="height: 100px"></textarea>
                          <label for="floatingTextareaVcisto" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- nefrostomia-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#nefroCollapse" aria-expanded="false"
                            aria-controls="nefroCollapse">
                      <span class="text-green-dark">Nefrostomia</span>
                    </button>
                  </h2>
                  <div id="nefroCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="nefroCheckbox1">
                            <label class="form-check-label text-green-dark" for="nefroCheckbox1">
                              Cateter Nefrostomia
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="nefroInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="nefroCheckbox2">
                            <label class="form-check-label text-green-dark" for="nefroCheckbox2">
                              otros
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="nefroInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>
                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaNefro" style="height: 100px"></textarea>
                          <label for="floatingTextareaNefro" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- otros-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#otroCollapse" aria-expanded="false"
                            aria-controls="otroCollapse">
                      <span class="text-green-dark">Otros</span>
                    </button>
                  </h2>
                  <div id="otroCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otroCheckbox1">
                            <label class="form-check-label text-green-dark" for="otroCheckbox1">
                              Exocvac
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otroInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otroCheckbox2">
                            <label class="form-check-label text-green-dark" for="otroCheckbox2">
                              Jacell/Jackson-Pratt
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otroInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">cc</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otroCheckbox3">
                            <label class="form-check-label text-green-dark" for="otrosCheckbox3">
                              Viaflex
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otroInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">cc</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otroCheckbox4">
                            <label class="form-check-label text-green-dark" for="otroCheckbox4">
                              Penrose
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaOtro" style="height: 100px"></textarea>
                          <label for="floatingTextareaOtro" class="fs-6  text-gray">Observaciones</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <!--OXIGENO-->

              <div class="row  fs-4 justify-contnet-start text-green-dark mb-4">
                <h3 class="border-bottom mt-5 ">Oxigeno</h3>
              </div>

              <div class="accordion mb-3" id="accordionPanelsStayOpenExamples">

                <!-- tipos dispositivos-->
                <div class="accordion-item ">
                  <h2 class="accordion-header ">
                    <button class="accordion-button bg-white  fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#oxigeno-collapse" aria-expanded="true"
                            aria-controls="oxigeno-collapse">
                      <span class="text-green-dark">Oxigeno Suplementario</span>
                    </button>
                  </h2>
                  <div id="oxigeno-collapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="canulaCheckbox1">
                            <label class="form-check-label text-green-dark" for="canulaCheckbox1">
                              Canula Nasal
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="canulaInput1" type="text" placeholder="">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">Lts</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="mascarillaCheckbox2">
                            <label class="form-check-label text-green-dark" for="mascarillaCheckbox2">
                              M. No ReinHalacion
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="mascarillaInput2" type="text" placeholder="">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">Lts</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="mascarilla2Checkbox3">
                            <label class="form-check-label text-green-dark" for="mascarilla2Checkbox3">
                              M. Reinhalacion
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="mascarilla2Input3" type="text" placeholder="">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">Lts</span>
                            </div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="venturyCheckbox3">
                            <label class="form-check-label text-green-dark" for="venturyCheckbox3">
                              Ventury
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control" id="venturyInput3" type="text" placeholder="">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">Lts</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaOxigeno" style="height: 100px"></textarea>
                          <label for="floatingTextareaOxigeno" class="fs-6  text-gray">Observaciones</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- otros-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-white fs-4 text-green-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#otherCollapse" aria-expanded="false"
                            aria-controls="otherCollapse">
                      <span class="text-green-dark">Otros</span>
                    </button>
                  </h2>
                  <div id="otherCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div class="row col-12 d-flex justify-content-around ">

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otherCheckbox1">
                            <label class="form-check-label text-green-dark" for="otherCheckbox1">
                              TOT
                            </label>
                          </div>

                          <div class=" row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otherInput1">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">Lts</span></div>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check  my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otherCheckbox2">
                            <label class="form-check-label text-green-dark" for="otherCheckbox2">
                              ML Simple
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otherInput2">
                            </div>
                            <div class="col-3"><span class="col-3 text-gray">Lts</span></div>
                          </div>

                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otherCheckbox3">
                            <label class="form-check-label text-green-dark" for="otherCheckbox3">
                              ML Fastrack
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otherInput3">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">Lts</span>
                            </div>

                          </div>
                        </div>

                        <div class="col-2">
                          <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="otherCheckbox4">
                            <label class="form-check-label text-green-dark" for="otherCheckbox4">
                              ML Proseal
                            </label>
                          </div>
                          <div class="row col-12 d-flex justify-content-between align-content-between">
                            <div class="col-9">
                              <input class="form-control " type="text" placeholder="" id="otherInput4">
                            </div>
                            <div class="col-3">
                              <span class="col-3 text-gray">Lts</span>
                            </div>

                          </div>
                        </div>

                      </div>
                      <div class="col-12 my-2 mt-4">
                        <div class="form-floating ">
                          <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextareaOther" style="height: 100px"></textarea>
                          <label for="floatingTextareaOther" class="fs-6  text-gray">Observaciones</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


