<div class=" container-fluid ">
    <div class="row py-5">
        <div class="card col-11 mx-auto">
            <div class="card-body">
                <form class="row col-12 gx-5 gy-1 py-5">

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end">
                            <i class="fa-solid fa-eye me-1"></i>
                            Estatura
                        </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-1 d-flex">
                            <span class="text-nowrap align-item-center ">Cm</span>
                        </div>
                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>Temperatura</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-1 d-flex">
                            <span class="text-nowrap align-item-center ">°C</span>
                        </div>
                    </div>

                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>Peso</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-1 d-flex">
                            <span class="text-nowrap align-item-center ">Kg</span>
                        </div>
                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>Frecuencia Cardiaca</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-1 d-flex">
                            <span class="text-nowrap align-item-center ">Lpm</span>
                        </div>
                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>Frecuencia
                            Respiratoria</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-1 d-flex">
                            <span class="text-nowrap align-item-center ">Rpm</span>
                        </div>
                    </div>

                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>Saturacion O<span>2</span>
                        </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-1 d-flex">
                            <span class="text-nowrap align-item-center ">%</span>
                        </div>

                    </div>

                    <div class="row  col-4 form-inline my-3 d-flex justify-content-start">
                        <div class="col-6 text-end">
                            <label for="inputEmail3" class="col-form-label text-nowrap"><i
                                    class="fa-solid fa-eye me-1"></i>Presion Arterial</label>
                        </div>
                        <div class="col-5">
                            <div class="input-group" id="inputEmail3">
                                <input type="text" class="form-control" placeholder="" aria-label="Username">
                                <span class="input-group-text">/</span>
                                <input type="text" class="form-control" placeholder="" aria-label="Server">
                            </div>
                        </div>


                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>PAM</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                        <div class="col-1 d-flex">
                            <span class="text-nowrap align-item-center ">Hg/mm</span>
                        </div>
                    </div>
                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>Glasgow</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end"><i
                                class="fa-solid fa-eye me-1"></i>Rh</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <button class="btn btn-success col-auto">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>