<div class=" container-fluid ">
  <div class="row py-5">
    <div class="card border-0 shadow col-11 mx-auto">
      <div class="card-body fs-5 ">
        <div class="row  text-green-dark">
          <h3>Registro Signos Vitales</h3>
        </div>
        <form [formGroup]="formularioSignosVitales" (ngSubmit)="enviarFormulario()"
              class="row col-12 gx-5 gy-1 py-5">

          <div class="row  col-4 my-3 d-flex justify-content-start">
            <label for="frecuenciaCardiaca"
                   class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-regular fa-heart mx-2 text-green-dark fs-3"></i>Frecuencia Cardiaca</label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="frecuenciaCardiaca"
                  formControlName="frecuenciaCardiaca"
                  aria-describedby="basic-frecuenciaCardiaca"
                  [class.is-invalid]="frecuenciaCardiaca?.touched && frecuenciaCardiaca?.hasError('required')"
                >
                <span class="input-group-text text-gray" id="basic-frecuenciaCardiaca">Lpm</span>
              </div>
            </div>
          </div>

          <div class="row  col-4 my-3 d-flex justify-content-start">
            <label for="frecuenciaRespiratoria"
                   class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-solid fa-lungs mx-2 text-green-dark fs-4"></i>Frecuencia
              Respiratoria</label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="frecuenciaRespiratoria"
                  formControlName="frecuenciaRespiratoria"
                  aria-describedby="basic-frecuenciaRespiratoria"
                  [class.is-invalid]="frecuenciaRespiratoria?.touched && frecuenciaRespiratoria?.hasError('required')">
                <span class="input-group-text text-gray" id="basic-frecuenciaRespiratoria">Rpm</span>
              </div>
            </div>
          </div>

          <div class="row col-4  my-3 d-flex justify-content-start">
            <label for="saturacion" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-solid fa-mask-ventilator mx-2 text-green-dark fs-3"></i>Saturacion
              O<span>2</span>
            </label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username"
                       id="saturacion" formControlName="saturacion"
                       [class.is-invalid]="saturacion?.touched && saturacion?.hasError('required')"
                       aria-describedby="basic-saturacion">
                <span class="input-group-text text-gray" id="basic-saturacion">%</span>
              </div>
            </div>
          </div>

          <div class="row  col-4 form-inline my-3 d-flex justify-content-start">
            <div class="col-6 text-end">
              <label for="presionArterial" class="col-form-label text-nowrap text-gray mx-2"><i
                class="fa-solid fa-pager

                 text-green-dark fs-3"></i>Presion
                Arterial</label>
            </div>
            <div class="col-5">
              <div class="input-group" id="presionArterial">
                <input type="text" class="form-control" placeholder="" aria-label="Username"
                       id="sistolica" formControlName="sistolica"
                       [class.is-invalid]="sistolica?.touched && sistolica?.hasError('required')" (blur)="calcularPam()"
                >
                <span class="input-group-text text-gray">/</span>
                <input type="text" class="form-control" placeholder="" aria-label="Server"
                       id="diastolica" formControlName="diastolica"
                       [class.is-invalid]="diastolica?.touched && diastolica?.hasError('required')"
                       (blur)="calcularPam()"
                >
              </div>
            </div>
          </div>

          <div class="row  col-4 my-3 d-flex justify-content-start">
            <label for="pam" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1">
              <i class="fa-solid fa-pager mx-2 text-green-dark fs-3"></i>PAM
            </label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username"
                       aria-describedby="basic-pam" readonly id="pam" formControlName="pam">
                <span class="input-group-text text-gray" id="basic-pam">Hg/mm</span>
              </div>
            </div>
          </div>

          <div class="row  col-4 my-3 d-flex justify-content-start">
            <label for="temperatura" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-solid fa-thermometer mx-2 text-green-dark fs-3"></i>Temperatura</label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username"
                       aria-describedby="basic-temperatura" id="temperatura" formControlName="temperatura"
                       [class.is-invalid]="temperatura?.touched && temperatura?.hasError('required')">
                <span class="input-group-text text-gray" id="basic-temperatura">°C</span>
              </div>
            </div>
          </div>

          <div class="row col-4  my-3 d-flex justify-content-start">
            <label for="glasgow" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-solid fa-brain mx-2 text-green-dark fs-3"></i>Glasgow</label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username"
                       aria-describedby="basic-glasgow" id="glasgow" formControlName="glasgow"
                       [class.is-invalid]="glasgow?.touched && glasgow?.hasError('required')">
                <span class="input-group-text text-gray" id="basic-glasgow">/ 15</span>
              </div>
              <!--              <input type="text" class="form-control" id="glasgow" formControlName="glasgow" placeholder="13/15"-->
              <!--                     [class.is-invalid]="glasgow?.touched && glasgow?.hasError('required')">-->
            </div>
          </div>

          <div class="row  col-4 my-3 d-flex justify-content-start">
            <label for="estatura" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1">
              <i class="fa-solid fa-ruler-combined text-green-dark fs-3"></i>
              Estatura
            </label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username" id="estatura"
                       formControlName="estatura"
                       [class.is-invalid]="estatura?.touched && estatura?.hasError('required')" (blur)="calcularImc()"
                       aria-describedby="basic-estatura">
                <span class="input-group-text text-gray" id="basic-estatura">Cm</span>
              </div>
            </div>
          </div>

          <div class="row col-4  my-3 d-flex justify-content-start">
            <label for="peso" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-solid fa-person-half-dress mx-2 text-green-dark fs-3"></i>Peso</label>
            <div class="col-sm-5">
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username" id="peso"
                       formControlName="peso" (blur)="calcularImc()"
                       [class.is-invalid]="peso?.touched && peso?.hasError('required')"
                       aria-describedby="basic-peso">
                <span class="input-group-text text-gray" id="basic-peso">Kg</span>
              </div>
            </div>
          </div>

          <div class="row col-4  my-3 d-flex justify-content-start">
            <label for="imc" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-solid fa-fire-flame-simple mx-2 text-green-dark fs-3"></i>Imc</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="imc" readonly formControlName="imc">
            </div>
          </div>
          <div class="row col-4  my-3 d-flex justify-content-start">
            <label for="rh" class="col-sm-6 col-form-label text-nowrap text-end text-gray mx-1"><i
              class="fa-solid fa-fire-flame-simple mx-2 text-green-dark fs-3"></i>Rh</label>
            <div class="col-sm-5">
              <select class="form-select" id="rh" formControlName="rh"
                      [class.is-invalid]="rh?.touched && rh?.hasError('required')">
                <option *ngFor="let item of rhList" [value]="item.id">{{item.rh}}</option>
              </select>
            </div>
          </div>

          <div class="row d-flex justify-content-end">
            <button class="btn btn-green text-white col-auto fs-4 shadow">Guardar</button>
          </div>

        </form>
      </div>
    </div>

    <div class="my-5 col-11 mx-auto mat-elevation-z8" *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource">

        <!-- Fecha de toma -->
        <ng-container matColumnDef="date">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef> Fecha</th>
          <td class="text-gray text-center" mat-cell
              *matCellDef="let element"> {{element.date |date:'dd/MM/YYY HH:mm'}} </td>
        </ng-container>

        <!-- Frecuencia Cardiaca -->
        <ng-container matColumnDef="fc">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef> FC</th>
          <td class="text-gray text-center" mat-cell
              *matCellDef="let element"> {{element.frecuenciaCardiaca}} </td>
        </ng-container>

        <!-- Frecuencia Respiratoria -->
        <ng-container matColumnDef="fr">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef> FR</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.frecuenciaRespiratoria}} </td>
        </ng-container>

        <!-- Saturacion -->
        <ng-container matColumnDef="so2">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef> SO2</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.saturacion}}% </td>
        </ng-container>

        <!-- Presion Arterial -->
        <ng-container matColumnDef="pa">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>PA</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.sistolica}}/{{element.diastolica}}</td>
        </ng-container>

        <!-- PAM -->
        <ng-container matColumnDef="pam">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>PAM</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.pam}} </td>
        </ng-container>

        <!-- Temperatura -->
        <ng-container matColumnDef="temp">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>Temperatura</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
        </ng-container>

        <!-- Glasgow -->
        <ng-container matColumnDef="glasgow">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>Glasgow</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.glasgow}} </td>
        </ng-container>

        <!-- Estatura -->
        <ng-container matColumnDef="est">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>Estatura</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.estatura}} </td>
        </ng-container>

        <!-- Peso -->
        <ng-container matColumnDef="peso">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>Peso</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.peso}} </td>
        </ng-container>

        <!-- IMC -->
        <ng-container matColumnDef="imc">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>IMC</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{element.imc}} </td>
        </ng-container>

        <ng-container matColumnDef="rh">
          <th class="text-green-dark text-center" mat-header-cell *matHeaderCellDef>RH</th>
          <td class="text-gray text-center" mat-cell *matCellDef="let element"> {{getRHPorId(element.rh)?.rh}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator class="text-gray" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </div>

  <div><code>
    <pre *ngFor="let item of listaSignosVitales">{{item|json}}</pre>
  </code></div>
</div>

