<div class=" container-fluid ">
    <div class="row py-5">
        <div class="card border-0 shadow col-11 mx-auto">
            <div class="card-body fs-5 ">
                <div class="row  justify-contnet-start text-green-dark">
                    <h3>Registro Signos Vitales</h3>
                </div>
                <form class="row col-12 gx-5 gy-1 py-5">


                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="frecuencia-cardiaca"
                            class="col-sm-6 col-form-label text-nowrap text-end text-gray"><i
                                class="fa-regular fa-heart mx-2 text-green-dark fs-3"></i>Frecuencia Cardiaca</label>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control">
                                <span class="input-group-text text-gray" id="basic-addon2">Lpm</span>
                            </div>
                        </div>
                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="frecuencia-respiratoria"
                            class="col-sm-6 col-form-label text-nowrap text-end text-gray"><i
                                class="fa-solid fa-lungs mx-2 text-green-dark fs-4"></i>Frecuencia
                            Respiratoria</label>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control">
                                <span class="input-group-text text-gray" id="basic-addon2">Rpm</span>
                            </div>
                        </div>
                    </div>

                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end text-gray"><i
                                class="fa-solid fa-mask-ventilator mx-2 text-green-dark fs-3"></i>Saturacion
                            O<span>2</span>
                        </label>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text text-gray" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="row  col-4 form-inline my-3 d-flex justify-content-start">
                        <div class="col-6 text-end">
                            <label for="inputEmail3" class="col-form-label text-nowrap text-gray"><i
                                    class="fa-solid fa-pager mx-2 text-green-dark fs-3"></i>Presion
                                Arterial</label>
                        </div>
                        <div class="col-5">
                            <div class="input-group" id="inputEmail3">
                                <input type="text" class="form-control" placeholder="" aria-label="Username">
                                <span class="input-group-text text-gray">/</span>
                                <input type="text" class="form-control" placeholder="" aria-label="Server">
                            </div>
                        </div>
                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end text-gray">
                            <i class="fa-solid fa-pager mx-2 text-green-dark fs-3"></i>PAM
                        </label>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text text-gray" id="basic-addon2">Hg/mm</span>
                            </div>
                        </div>
                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end text-gray"><i
                                class="fa-solid fa-thermometer mx-2 text-green-dark fs-3"></i>Temperatura</label>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text text-gray" id="basic-addon2">°C</span>
                            </div>
                        </div>
                    </div>

                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end text-gray"><i
                                class="fa-solid fa-brain mx-2 text-green-dark fs-3"></i>Glasgow</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>

                    <div class="row  col-4 my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end text-gray">
                            <i class="fa-solid fa-ruler-combined text-green-dark fs-3"></i>
                            Estatura
                        </label>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text text-gray" id="basic-addon2">Cm</span>
                            </div>
                        </div>
                    </div>

                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end text-gray"><i
                                class="fa-solid fa-person-half-dress mx-2 text-green-dark fs-3"></i>Peso</label>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text text-gray" id="basic-addon2">Kg</span>
                            </div>
                        </div>
                    </div>

                    <div class="row col-4  my-3 d-flex justify-content-start">
                        <label for="inputEmail3" class="col-sm-6 col-form-label text-nowrap text-end text-gray"><i
                                class="fa-solid fa-fire-flame-simple mx-2 text-green-dark fs-3"></i>Rh</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <button class="btn btn-green text-white col-auto fs-4 shadow">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>