<div class="container-fluid">
    <div class="row py-5">
        <div class="card border-0 shadow col-11 mx-auto">
            <div class="card-body fs-5 ">
                <div class="row  justify-contnet-start text-green-dark mb-4">
                    <h3>Registro Antecedentes Clinicos</h3>
                </div>

                <div class="row  justify-contnet-start text-green-dark mb-4 ">
                    <h4 class="border-bottom">PERSONALES</h4>
                </div>
                <form>
                    <div>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <!-- primer acordeon -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button fs-4 text-green-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"><i
                                            class="fa-solid fa-biohazard mx-3"></i>
                                        Toxicologicos
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="row col-12 my-auto mx-auto py-3">
                                            <div class="form-check col-4 text-gray">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label fs-5" for="exampleRadios1">
                                                    Tabaquismo
                                                </label>
                                            </div>
                                            <div class="form-check col-4">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Alcohol
                                                </label>
                                            </div>
                                            <div class="form-check col-4">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    otros
                                                </label>
                                            </div>

                                        </div>
                                        <div class="form-floating ">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2" class="fs-6  text-gray">Observaciones</label>
                                        </div>

                                        <div class="row d-flex mx-auto my-3 col-12 justify-content-between ">
                                            <div class="col-auto p-1 btn-hover">
                                                <button class="btn rounded-2 btn-green shadow"><i
                                                        class="fa-solid fa-file-arrow-up text-white fs-5 "></i></button>
                                                <span class=" mx-3 fs-6 text-gray">Plantilla de texto</span>
                                            </div>
                                            <div class="col-auto p-1 btn-hover">
                                                <button type="button"
                                                    class="btn btn-green text-white fs-5 shadow ">Siguiente
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- segundo acordeon -->
                            <div class="accordion-item">
                                <h2 class="accordion-header fs-4 ">
                                    <button class="accordion-button collapsed fs-4 text-green-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"><i
                                            class="fa-solid fa-head-side-cough mx-3"></i>
                                        Patologicos
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <!-- colocar los check -->
                                        <div class="row col-12 my-auto mx-auto py-3 text-gray">
                                            <div class="form-check col-4  my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label fs-5" for="exampleRadios1">
                                                    Hipertension Arterial
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Diabetes Mellitus
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Hepatitis B
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Hepatitis C
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    VIH
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Serologia
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    EPOC
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Enfermedad Coronaria
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Dislipidemia
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Cancer
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-floating ">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2" class="fs-6  text-gray">Otros</label>
                                        </div>

                                        <div class="row d-flex mx-auto my-3 col-12 justify-content-between ">
                                            <div class="col-auto p-1 btn-hover">
                                                <button class="btn rounded-2 btn-green shadow"><i
                                                        class="fa-solid fa-file-arrow-up text-white fs-5 "></i></button>
                                                <span class=" mx-3 fs-6 text-gray">Plantilla de texto</span>
                                            </div>
                                            <div class="col-auto p-1 btn-hover">
                                                <button type="button"
                                                    class="btn btn-green text-white fs-5 shadow ">Siguiente
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- tercer acordeon -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed fs-4 text-green-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"><i
                                            class="fa-regular fa-hospital mx-3"></i>
                                        Quirurgicos
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="row col-12 my-auto mx-auto py-3 text-gray">
                                            <div class="form-check col-4  my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label fs-5" for="exampleRadios1">
                                                    Nefrectomía
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Cirugia Abdominal
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Apendicetomía
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Herniorrefía
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Laparotomía
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Histerectomía
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Osteosíntesis
                                                </label>
                                            </div>

                                        </div>
                                        <div class="form-floating ">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2" class="fs-6  text-gray">Otros</label>
                                        </div>

                                        <div class="row d-flex mx-auto my-3 col-12 justify-content-between ">
                                            <div class="col-auto p-1 btn-hover">
                                                <button class="btn rounded-2 btn-green shadow"><i
                                                        class="fa-solid fa-file-arrow-up text-white fs-5 "></i></button>
                                                <span class=" mx-3 fs-6 text-gray">Plantilla de texto</span>
                                            </div>
                                            <div class="col-auto p-1 btn-hover">
                                                <button type="button"
                                                    class="btn btn-green text-white fs-5 shadow ">Siguiente
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- cuarto acordeon -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed fs-4 text-green-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseFour"><i
                                            class="fa-solid fa-mask-face mx-3"></i>
                                        Alergicos
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="row col-12 my-auto mx-auto py-3 text-gray">
                                            <div class="form-check col-4  my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label fs-5" for="exampleRadios1">
                                                    Penicilinas
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Sulfas
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    Dipirona
                                                </label>
                                            </div>
                                            <div class="form-check col-4 my-2">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label fs-5" for="exampleRadios2">
                                                    IECAS
                                                </label>
                                            </div>


                                        </div>
                                        <div class="form-floating ">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2" class="fs-6  text-gray">Otros</label>
                                        </div>

                                        <div class="row d-flex mx-auto my-3 col-12 justify-content-between ">
                                            <div class="col-auto p-1 btn-hover">
                                                <button class="btn rounded-2 btn-green shadow"><i
                                                        class="fa-solid fa-file-arrow-up text-white fs-5 "></i></button>
                                                <span class=" mx-3 fs-6 text-gray">Plantilla de texto</span>
                                            </div>
                                            <div class="col-auto p-1 btn-hover">
                                                <button type="button"
                                                    class="btn btn-green text-white fs-5 shadow ">Siguiente
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

                <!-- segunda parte de antececdentes -->
                <div class="row  justify-contnet-start text-green-dark mt-5 mb-4 ">
                    <h4 class="border-bottom">FAMILIARES</h4>
                </div>

                <form>
                    <div>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <!-- primer acordeon -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button fs-4 text-green-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseFive"><i
                                            class="fa-solid fa-person-breastfeeding mx-3"></i>
                                        Antecedente familiar
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div
                                            class="row d-flex col-12 my-auto mx-auto py-3 justify-content-start align-content-between">
                                            <div class="col-md-2 ">
                                                <div class="form-floating">
                                                    <select class="form-select text-gray" id="floatingSelectGrid">
                                                        <option selected></option>
                                                        <option value="3">Hijo</option>
                                                        <option value="1">Madre</option>
                                                        <option value="2">Padre</option>
                                                        <option value="3">Hermano</option>
                                                        <option value="3">Sobrinos</option>
                                                        <option value="3">Tios</option>
                                                        <option value="3">Nieto</option>
                                                        <option value="3">Abuelos</option>
                                                        <option value="3">No aplica</option>

                                                    </select>
                                                    <label for="floatingSelectGrid"
                                                        class="text-gray py-1">Parentesco</label>
                                                </div>
                                            </div>

                                            <div class=" col-md-2">
                                                <div class="form-floating">
                                                    <input type="date" class="form-control" id="floatingInputGrid"
                                                        placeholder="name@example.com" value="mdo@example.com">
                                                    <label for="floatingInputGrid" class="py-1">Fecha
                                                        Diagnostico</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-floating ">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2" class="fs-6  text-gray">Diagnostico</label>
                                        </div>

                                        <div class="row d-flex mx-auto my-3 col-12 justify-content-between ">
                                            <div class="col-auto p-1 btn-hover">
                                                <button class="btn rounded-2 btn-green shadow"><i
                                                        class="fa-solid fa-file-arrow-up text-white fs-5 "></i></button>
                                                <span class=" mx-3 fs-6 text-gray">Plantilla de texto</span>
                                            </div>
                                            <div class="col-auto p-1 btn-hover">
                                                <button type="button"
                                                    class="btn btn-green text-white fs-5 shadow ">Siguiente
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row d-flex justify-content-end  mx-auto my-4">
                    <button class="btn btn-green text-white col-auto fs-4 shadow">Guardar</button>
                </div>

            </div>
        </div>
    </div>

</div>
