<div class="container-fluid">
  <div class="row py-5">
    <div class="card border-0 shadow col-11 mx-auto">
      <div class="card-body fs-5 ">
        <div class="row  justify-contnet-start text-green-dark mb-4">
          <h3>Registro Antecedentes Clinicos</h3>
        </div>

        <div class="row  justify-contnet-start text-green-dark mb-4 ">
          <h4>PERSONALES</h4>
          <hr class="border border-2 opacity-75">
        </div>
        <form [formGroup]="antecedentesForm" (ngSubmit)="crearAntecedentes()">
          <div>
            <div class="accordion" id="accordionPanelAntecedentes">
              <!-- primer acordeon -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button fs-4 text-green-dark" type="button"
                          data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapseOne'"
                          aria-expanded="true" [attr.aria-controls]="'panelsStayOpen-collapseOne'"><i
                    class="fa-solid fa-biohazard mx-3"></i>
                    Toxicologicos
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                     [attr.data-bs-parent]="'#accordionPanelAntecedentes'">
                  <div class="accordion-body" formGroupName="toxicologico">
                    <div class="row col-12 my-auto mx-auto py-3" role="group" formGroupName="tipo">
                      <div class="form-check col-4 text-gray">
                        <input class="form-check-input"
                               type="checkbox"
                               name="toxicologicoRadios"
                               formControlName="tabaquismo"
                               id="toxicologicos-tabaquismo">
                        <label class="form-check-label fs-5" for="toxicologicos-tabaquismo">
                          Tabaquismo
                        </label>
                      </div>
                      <div class="form-check col-4">
                        <input class="form-check-input"
                               type="checkbox"

                               name="toxicologicoRadios"
                               formControlName="alcoholismo"
                               id="toxicologicos-alcohol">
                        <label class="form-check-label fs-5" for="toxicologicos-alcohol">
                          Alcohol
                        </label>
                      </div>
                      <div class="form-check col-4">
                        <input class="form-check-input"
                               type="checkbox"
                               name="toxicologicoRadios"
                               formControlName="otros"
                               id="exampleRadios3">
                        <label class="form-check-label fs-5" for="exampleRadios3">
                          Otros
                        </label>
                      </div>

                    </div>
                    <div class="form-floating ">
                      <textarea class="form-control" placeholder="Leave a comment here"
                                formControlName="observaciones"
                                id="observacionesToxicologicas"
                                style="height: 100px"></textarea>
                      <label for="observacionesToxicologicas" class="fs-6  text-gray">Observaciones</label>
                    </div>

                  </div>
                </div>
              </div>

              <!-- segundo acordeon -->
              <div class="accordion-item">
                <h2 class="accordion-header fs-4 ">
                  <button class="accordion-button collapsed fs-4 text-green-dark" type="button"
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"><i
                    class="fa-solid fa-head-side-cough mx-3"></i>
                    Patologicos
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                     [attr.data-bs-parent]="'#accordionPanelAntecedentes'">
                  <div class="accordion-body" formGroupName="patologico">
                    <!-- colocar los check -->
                    <div class="row col-12 my-auto mx-auto py-3 text-gray" formGroupName="tipo">
                      <div class="form-check col-4  my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="patologicoHiperTencionArterial"
                          formControlName="hipertensionArterial"
                        >
                        <label class="form-check-label fs-5" for="patologicoHiperTencionArterial">
                          Hipertension Arterial
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="diabetesMellitus"
                          formControlName="diabetesMellitus">
                        <label class="form-check-label fs-5" for="diabetesMellitus">
                          Diabetes Mellitus
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input class="form-check-input"
                               type="checkbox"
                               name="patologicoRadios"
                               id="hepatitisB"
                               formControlName="hepatitisB">
                        <label class="form-check-label fs-5" for="hepatitisB">
                          Hepatitis B
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="hepatitisC"
                          formControlName="hepatitisC">
                        <label class="form-check-label fs-5" for="hepatitisC">
                          Hepatitis C
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="vih"
                          formControlName="vih">
                        <label class="form-check-label fs-5" for="vih">
                          VIH
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="serologia"
                          formControlName="serologia">
                        <label class="form-check-label fs-5" for="serologia">
                          Serologia
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="epoc"
                          formControlName="epoc">
                        <label class="form-check-label fs-5" for="epoc">
                          EPOC
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="enfermedadCoronaria"
                          formControlName="enfermedadCoronaria">
                        <label class="form-check-label fs-5" for="enfermedadCoronaria">
                          Enfermedad Coronaria
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="dislipidemia"
                          formControlName="dislipidemia">
                        <label class="form-check-label fs-5" for="dislipidemia">
                          Dislipidemia
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="patologicoRadios"
                          id="cancer"
                          formControlName="cancer">
                        <label class="form-check-label fs-5" for="cancer">
                          Cancer
                        </label>
                      </div>
                    </div>
                    <div class="form-floating ">
                      <textarea class="form-control"
                                placeholder="Leave a comment here"
                                id="observacionesPatologicos"
                                style="height: 100px"
                                formControlName="observaciones"></textarea>
                      <label for="observacionesPatologicos" class="fs-6  text-gray">Otros</label>
                    </div>

                  </div>
                </div>
              </div>

              <!-- tercer acordeon -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-4 text-green-dark" type="button"
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"><i
                    class="fa-regular fa-hospital mx-3"></i>
                    Quirurgicos
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                     [attr.data-bs-parent]="'#accordionPanelAntecedentes'">
                  <div class="accordion-body" formGroupName="quirurgicos">
                    <div class="row col-12 my-auto mx-auto py-3 text-gray" formGroupName="tipo">

                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="guirurgicoRadios"
                          id="nefrectomia"
                          formControlName="nefrectomia">
                        <label class="form-check-label fs-5" for="nefrectomia">
                          Nefrectomía
                        </label>
                      </div>

                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="guirurgicoRadios"
                          id="cirugiaAbdominal"
                          formControlName="cirugiaAbdominal">
                        <label class="form-check-label fs-5" for="cirugiaAbdominal">
                          Cirugia Abdominal
                        </label>
                      </div>

                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="guirurgicoRadios"
                          id="apendicectomia"
                          formControlName="apendicectomia">
                        <label class="form-check-label fs-5" for="apendicectomia">
                          Apendicectomía
                        </label>
                      </div>

                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="guirurgicoRadios"
                          id="herniorrafia"
                          formControlName="herniorrafia">
                        <label class="form-check-label fs-5" for="herniorrafia">
                          Herniorrafía
                        </label>
                      </div>

                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="guirurgicoRadios"
                          id="laparotomia"
                          formControlName="laparotomia">
                        <label class="form-check-label fs-5" for="laparotomia">
                          Laparotomía
                        </label>
                      </div>

                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="guirurgicoRadios"
                          id="histeroctomia"
                          formControlName="histeroctomia">
                        <label class="form-check-label fs-5" for="histeroctomia">
                          Histerectomía
                        </label>
                      </div>

                      <div class="form-check col-4 my-2">
                        <input class="form-check-input" type="checkbox" name="guirurgicoRadios"
                               id="osteosintesis" formControlName="osteosintesis">
                        <label class="form-check-label fs-5" for="osteosintesis">
                          Osteosíntesis
                        </label>
                      </div>

                    </div>
                    <div class="form-floating ">
                      <textarea class="form-control"
                                placeholder="Leave a comment here"
                                id="observacionesQuirurgicos"
                                style="height: 100px"
                                formControlName="observaciones"></textarea>
                      <label for="observacionesQuirurgicos" class="fs-6  text-gray">Otros</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- cuarto acordeon -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-4 text-green-dark" type="button"
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                          aria-expanded="false" aria-controls="panelsStayOpen-collapseFour"><i
                    class="fa-solid fa-mask-face mx-3"></i>
                    Alergicos
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                     [attr.data-bs-parent]="'#accordionPanelAntecedentes'">
                  <div class="accordion-body" formGroupName="alergicos">
                    <div class="row col-12 my-auto mx-auto py-3 text-gray" formGroupName="tipo">
                      <div class="form-check col-4  my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="alergicoRadios"
                          id="penicilinas"
                          formControlName="penicilinas">
                        <label class="form-check-label fs-5" for="penicilinas">
                          Penicilinas
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="alergicoRadios"
                          id="sulfas"
                          formControlName="sulfas">
                        <label class="form-check-label fs-5" for="sulfas">
                          Sulfas
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="alergicoRadios"
                          id="dipirona"
                          formControlName="dipirona">
                        <label class="form-check-label fs-5" for="dipirona">
                          Dipirona
                        </label>
                      </div>
                      <div class="form-check col-4 my-2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="alergicoRadios"
                          id="iecas"
                          formControlName="iecas">
                        <label class="form-check-label fs-5" for="iecas">
                          IECAS
                        </label>
                      </div>


                    </div>
                    <div class="form-floating ">
                      <textarea class="form-control"
                                placeholder="Leave a comment here"
                                id="observacionesAlergico"
                                style="height: 100px"
                                formControlName="observaciones"></textarea>
                      <label for="observacionesAlergico" class="fs-6  text-gray">Otros</label>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>


          <!-- segunda parte de antececdentes -->
          <div class="row  justify-contnet-start text-green-dark mt-5 mb-4 ">
            <h4>FAMILIARES</h4>
            <hr class="border border-2 opacity-75">
          </div>

          <div>
            <div class="accordion" id="accordionPanelsAntecedenteFamiliar">
              <!-- primer acordeon -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button fs-4 text-green-dark" type="button"
                          data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                          aria-expanded="true" aria-controls="panelsStayOpen-collapseFive"><i
                    class="fa-solid fa-person-breastfeeding mx-3"></i>
                    Antecedente familiar
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
                     [attr.data-bs-parent]="'#accordionPanelsAntecedenteFamiliar'">
                  <div class="accordion-body">

                    <div formArrayName="familiares">
                      <div
                        *ngFor="let antecedenteFamiliar of familiares.controls; let i = index"
                        [formGroupName]="i"
                        class="row d-flex col-12 my-auto mx-auto py-3 justify-content-start align-content-between">
                        <div class="col-md-2">
                          <div class="form-floating">
                            <select class="form-select text-gray" id="parentesco" formControlName="parentesco">
                              <option *ngFor="let option of parentescoOptions"
                                      [ngValue]="option.id">{{option.parentesco}}</option>
                            </select>
                            <label for="parentesco"
                                   class="text-gray py-1">Parentesco</label>
                          </div>
                        </div>

                        <div class=" col-md-2">
                          <div class="form-floating">
                            <input
                              type="date"
                              class="form-control"
                              id="fechaDiagnostico"
                              formControlName="fechaDiagnostico">
                            <label for="fechaDiagnostico" class="py-1">Fecha
                              Diagnostico</label>
                          </div>
                        </div>


                        <div class="form-floating my-3">
                          <textarea class="form-control"
                                    placeholder="Leave a comment here"
                                    [id]="'observacionesAntecedentesFamiliares-'+i"
                                    style="height: 100px"
                                    formControlName="diagnostico"></textarea>
                          <label [for]="'observacionesAntecedentesFamiliares-'+i"
                                 class="fs-6 text-gray ps-4">Diagnostico</label>
                        </div>
                        <div class="col-12 my-3">
                          <hr>
                        </div>
                      </div>
                    </div>
                    <div class="row d-flex mx-auto my-3 col-12 justify-content-end ">
                      <div class="col-auto p-1 btn-hover">
                        <button
                          (click)="nuevoAntecedenteFamiliar()"
                          type="button"
                          class="btn btn-green text-white fs-5 shadow ">Añadir otro
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="row d-flex justify-content-end  mx-auto my-4">
            <button class="btn btn-green text-white col-auto fs-4 shadow">Guardar</button>
          </div>
        </form>


      </div>
    </div>
  </div>

</div>
