<div class="row mx-0">
  <div class="col-sm-11 col-md-auto card shadow mx-auto rounded-4 border-0 bg-green">
    <div class=" card-body">
      <form class="p-3 my-3 text-gray" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <legend class="py-3">
          <h3 class="text-center text-green-dark fw-light text-white fw-bolder">Cambiar su Contraseña</h3>
        </legend>
        <div class="form-floating my-4">
          <input id="password" required class="form-control rounded-4" type="password"
                 placeholder="Contraseña" formControlName="password" />
          <label for="password">Ingrese su nueva contraseña</label>
          <div *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.getError('required')">
            <p class="text-muted">Este campo es requerido.</p>
          </div>
        </div>
        <div class="form-floating my-4">
          <input id="confirmPassword" required class="form-control rounded-4" type="password"
                 placeholder="Confirme contraseña" formControlName="confirmPassword" />
          <label for="confirmPassword">Confirmar contraseña</label>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.getError('required')">
            <p class="text-muted">Este campo es requerido.</p>
          </div>
        </div>

        <div class="row d-flex  justify-content-center align-content-center mx-0">
          <button class="btn bg-green-dark btn-hover text-white fw-bold rounded-pill shadow border-0 col-auto my-3"
                  id="btnInicioSesion">Cambiar mi contraseña</button>

        </div>
      </form>
      <!-- <div>
      <code><pre>{{recoveryPasswordForm.value| json}}</pre></code>
      <code><pre>{{recoveryPasswordForm.valid| json}}</pre></code>
  </div> -->
    </div>
  </div>
</div>
