<app-datos-personales-paciente></app-datos-personales-paciente>
<hr>
<div class="row mx-0 py-3">
    <ul class="nav nav-tabs col-12 fs-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="signos-vitales-tab" data-bs-toggle="tab"
                data-bs-target="#signos-vitales-tab-pane" type="button" role="tab"
                aria-controls="signos-vitales-tab-pane" aria-selected="true">Signos Vitales</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="notas-enfermeria-tab" data-bs-toggle="tab"
                data-bs-target="#notas-enfermeria-tab-pane" type="button" role="tab"
                aria-controls="notas-enfermeria-tab-pane" aria-selected="false">Notas
                Enfermeria</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="notas-evolucion-tab" data-bs-toggle="tab"
                data-bs-target="#notas-evolucion-tab-pane" type="button" role="tab"
                aria-controls="notas-evolucion-tab-pane" aria-selected="false">Notas
                Evolucion</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="antecedentes-clinicos-tab" data-bs-toggle="tab"
                data-bs-target="#antecedentes-clinicos-tab-pane" type="button" role="tab"
                aria-controls="antecedentes-clinicos-tab-pane" aria-selected="false">Antecedentes Clinicos</button>
        </li>

    </ul>
    <div class="tab-content mx-0" id="myTabContent">
        <div class="tab-pane fade show active" id="signos-vitales-tab-pane" role="tabpanel"
            aria-labelledby="signos-vitales-tab" tabindex="0">
            <app-signos-vitales></app-signos-vitales>
        </div>
        <div class="tab-pane fade" id="notas-enfermeria-tab-pane" role="tabpanel" aria-labelledby="notas-enfermeria-tab"
            tabindex="0">
            profile
        </div>
        <div class="tab-pane fade" id="notas-evolucion-tab-pane" role="tabpanel" aria-labelledby="notas-evolucion-tab"
            tabindex="0">
            ...
        </div>
        <div class="tab-pane fade" id="antecedentes-clinicos-tab-pane" role="tabpanel"
            aria-labelledby="antecedentes-clinicos-tab" tabindex="0">
            ...
        </div>
    </div>
</div>