<div class="container-fluid">
  <div class="row py-5">
    <div class="card border-0 shadow col-11 mx-auto">
      <div class="card-body fs-5">

        <div class="row justify-contnet-start text-green-dark mb-4">
          <h3>Plan de manejo</h3>
        </div>

        <form [formGroup]="ordenesMedicasForm" (ngSubmit)="crearOrdenMedica()">
          <div class="row">
            <div class="row col-12 mb-4 text-gray">

              <!-- Tipo Atención -->
              <div class=" row col-12 my-auto mx-auto  py-3">
                <div class="form-check col-3 ">
                  <input class="form-check-input" type="radio" name="tipoAtencion"
                         id="tipoAtencion1" value="Convencional" checked formControlName="tipoAtencion">
                  <label class="form-check-label fs-5" for="tipoAtencion1">
                    Convencional
                  </label>
                </div>
                <div class="form-check col-3">
                  <input class="form-check-input" type="radio" name="tipoAtencion"
                         id="tipoAtencion2" value="Prioritario" formControlName="tipoAtencion">
                  <label class="form-check-label fs-5" for="tipoAtencion2">
                    Prioritario
                  </label>
                </div>
              </div>
            </div>

            <!-- Plan Manejo -->
            <div class="row col-12 mb-4">
              <div class="form-floating ">
                            <textarea
                              class="form-control"
                              placeholder="Leave a comment here"
                              formControlName="planManejo"
                              id="planManejo"
                              style="height: 100px"
                              [class.is-invalid]="ordenesMedicasForm.get('planManejo')?.touched && ordenesMedicasForm.get('planManejo')?.hasError('required')"
                            >

                            </textarea>
                <label for="planManejo" class="fs-6 pe-auto mx-3 text-gray">Ordenes medicas</label>
              </div>

            </div>


            <div class="row col-12 justify-content-start text-green-dark py-3 my-5 border-bottom mx-0 px-0">
              <h4>Formula medicamentos</h4>
            </div>
            <div formArrayName="medicamentos">
              <div *ngFor="let medicamento of medicamentos.controls; let i = index" [formGroupName]="i">
                <!-- Categoria Medicamento-->
                <div class="row col-12 px-0 mx-0">
                  <div class="form-check col-3 mx-2">
                    <input class="form-check-input" type="radio" name="categoriaMedicamento" id="categoriaMedicamento1"
                           formControlName="categoriaMedicamento" value="Comercial">
                    <label class="form-check-label" for="categoriaMedicamento1">
                      Comercial
                    </label>
                  </div>
                  <div class="form-check col-3 mx-2">
                    <input class="form-check-input" type="radio" name="categoriaMedicamento" id="categoriaMedicamento2"
                           formControlName="categoriaMedicamento" value="Generico"
                           checked>
                    <label class="form-check-label" for="categoriaMedicamento2">
                      Generico
                    </label>
                  </div>
                  <div class="form-check col-3 mx-2">
                    <input class="form-check-input" type="radio" name="categoriaMedicamento" id="categoriaMedicamento3"
                           formControlName="categoriaMedicamento" value="Magistral"
                           checked>
                    <label class="form-check-label" for="categoriaMedicamento3">
                      Magistral o formula libre
                    </label>
                  </div>
                </div>

                <div
                  class="row fs-bold col-12 d-flex px-0 mx-0 my-4 justify-content-between align-content-between fs-6">
                  <!-- medicamento -->

                  <div class=" col-8 my-3">
                    <label for="medicamento" class="form-label text-green-dark ">Medicamento</label>
                    <input type="text" id="medicamento" list="listaMedicamentos" formControlName="medicamento"
                           (change)="opcionesFiltradas(i)" class="form-control">
                    <datalist id="listaMedicamentos">
                      <ng-container *ngIf="listaMedicamentos.length>0">
                        <option *ngFor="let opcion of listaMedicamentos"
                                [value]="opcion.principioactivo+' | '+opcion.concentracion "></option>
                      </ng-container>
                    </datalist>
                  </div>

                  <!-- Via Administracion -->
                  <div class="col-4 my-3">
                    <label for="viaAdmon" class="form-label text-green-dark">Via de administracion:</label>
                    <select class="form-select" formControlName="viaAdmon" id="viaAdmon" aria-label=""
                            [class.is-invalid]="medicamento.get('viaAdmon')?.touched && medicamento?.get('viaAdmon')?.hasError('required')">
                      <option value="1">Oral</option>
                      <option value="2">Sublingual</option>
                      <option value="3">Topica</option>
                      <option value="3">Oftalmica</option>
                      <option value="3">Intravenosa</option>
                      <option value="3">Intranasal</option>
                    </select>
                  </div>

                  <!-- Dosis -->
                  <div class="col-2 my-3">
                    <label for="dosis" class="text-green-dark">Administrar(dosís):</label>
                    <input class="form-control" formControlName="dosis" id="dosis" type="text" placeholder="Ej:1"
                           [class.is-invalid]="medicamento.get('dosis')?.touched && medicamento?.get('dosis')?.hasError('required')"
                           aria-label="">
                  </div>

                  <div class="col-2 my-3">
                    <label for="presentacion" class="text-green-dark">Presentacion:</label>
                    <select class="form-select" id="presentacion" formControlName="presentacion"
                            [class.is-invalid]="medicamento.get('presentacion')?.touched && medicamento?.get('presentacion')?.hasError('required')"
                            aria-label="Default select example">
                      <option selected>Tableta</option>
                      <option value="1">Comprimido</option>
                      <option value="2">Ampolla</option>
                      <option value="3">Suspencion</option>
                      <option value="3">Supositorio</option>
                    </select>

                  </div>

                  <div class="col-2 my-3">
                    <label for="frecuencia" class="text-green-dark">Frecuencia(cada):</label>
                    <input class="form-control" formControlName="frecuencia" id="frecuencia" type="text"
                           [class.is-invalid]="medicamento.get('frecuencia')?.touched && medicamento?.get('frecuencia')?.hasError('required')"
                           placeholder="Ej:8" aria-label="">
                  </div>

                  <div class="col-2 my-3">
                    <label for="horario" class="text-green-dark">Cada cuanto:</label>
                    <select class="form-select" id="horario" formControlName="horario"
                            [class.is-invalid]="medicamento.get('horario')?.touched && medicamento?.get('horario')?.hasError('required')"
                            aria-label="Default select example">
                      <option selected>Hora(s)</option>
                      <option value="1">Dia(s)</option>
                      <option value="2">Semana(s)</option>
                      <option value="3">Dosis única</option>
                    </select>

                  </div>

                  <div class="col-2 my-3">
                    <label for="duracion" class="text-green-dark">Duracion(durante):</label>
                    <input class="form-control" formControlName="duracion" id="duracion" type="text" placeholder="Ej:3"
                           [class.is-invalid]="medicamento.get('duracion')?.touched && medicamento?.get('duracion')?.hasError('required')"
                           aria-label="default input example">
                  </div>

                  <div class="col-2 my-3">
                    <label for="tiempo" class="text-green-dark"></label>
                    <select class="form-select" id="tiempo" formControlName="tiempo"
                            [class.is-invalid]="medicamento.get('tiempo')?.touched && medicamento?.get('tiempo')?.hasError('required')"
                            aria-label="Floating label select example">
                      <option selected>Dia(s)</option>
                      <option value="1">Mes(es)</option>
                      <option value="2">Dosis única</option>
                      <option value="3">Tiempo indefinido</option>
                      <option value="3">Hasta terminar</option>
                      <option value="3">Hasta proximo control</option>
                    </select>

                  </div>

                </div>
              </div>
            </div>

            <div class=" row d-flex col-12 justify-content-end my-4 fs-5 gx-4 btn-hover ">
              <button class="btn btn-green text-white mx-1 col-auto shadow " type="button"
                      (click)="agregarOtroMedicamento()">Agragar otro medicamento
              </button>
            </div>


            <!-- BTN GUARDAR -->
            <div class="row col-12 d-flex justify-content-center btn-hover mx-auto my-4">
              <button class="btn btn-green text-white col-auto fs-4 shadow ">Guardar</button>
            </div>
          </div>

        </form>

      </div>
    </div>
    <div class="col-11 mx-auto my-5 px-0" *ngIf="ordenesMedicasList.length !== 0">
      <ul class="list-group shadow">
        <li class="list-group-item border-0" *ngFor="let ordenMedica of ordenesMedicasList, let i = index">
          <div class="d-flex justify-content-between bg-green-dark my-3 border-1 rounded-3 p-2 text-white shadow">
            <span>Fecha: {{ordenMedica.date | date:'dd-MM-YYY'}}</span><span>Orden medica No.: {{ordenMedica.id}}</span>
          </div>
          <h5>Plan de manejo</h5>
          <p>{{ordenMedica.planManejo}}</p>
        <hr *ngIf="i+1 !== ordenesMedicasList.length">
        </li>
      </ul>
    </div>
  </div>
</div>
