<div class="row mx-0">
    <div class="col-sm-11 col-md-auto card shadow mx-auto rounded-4 border-0 bg-green">
        <div class=" card-body">
            <form class="p-3 my-3 text-gray" [formGroup]="recoveryPasswordForm" (ngSubmit)="recovery()">
                <legend class="py-3">
                    <h3 class="text-center text-green-dark fw-light text-gray ">Recuperar Contraseña</h3>
                </legend>
                <div class="form-floating mb-3">
                    <select id="documentType" class="form-select rounded-4 text-gray" type="text"
                        placeholder="Documento de Identidad" formControlName="documentType">
                        <option value="4" [defaultSelected]="4">Seleccione una opcion</option>
                        <option value="1">Cedula de ciudadania</option>
                        <option value="2">Cedula de Extranjeria</option>
                        <option value="3">Tarjeta de Identidad</option>
                    </select>
                    <label for="documentType">Documento de Identidad</label>
                    <div
                        *ngIf="recoveryPasswordForm.get('documentType')?.touched && recoveryPasswordForm.get('documentType')?.getError('required')">
                        <p class="text-muted">Este campo es requerido.</p>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input id="identification" required class="form-control rounded-4" type="text"
                        formControlName="identification" placeholder="Numero de identificación" />
                    <label for="identification">Numero de identificacion</label>
                    <div
                        *ngIf="recoveryPasswordForm.get('identification')?.touched && recoveryPasswordForm.get('identification')?.getError('required')">
                        <p class="text-muted">Este campo es requerido.</p>
                    </div>
                </div>

                <div class="row d-flex  justify-content-center align-content-center mx-0">
                    <button class="btn btn-primary bg-green-dark rounded-pill shadow border-0 col-auto my-3"
                        id="btnInicioSesion">Recuperar mi contraseña</button>
                    <div class="col-12 row d-flex  justify-content-center align-content-center my-3">
                        <a class="text-muted my-2 my-md-0 col-auto" [routerLink]="['/auth/login']">Iniciar sesion</a>
                    </div>
                </div>
            </form>
            <!-- <div>
            <code><pre>{{recoveryPasswordForm.value| json}}</pre></code>
            <code><pre>{{recoveryPasswordForm.valid| json}}</pre></code>
        </div> -->
        </div>
    </div>
</div>