<div class="row my-0 py-0">
  <header
    class="col-12 row d-flex my-0 justify-content-end align-content-center header bg-green-light shadow">
    <div class="col-auto py-3">
      <h1 class="display-3 text-light">TechClinic</h1>
    </div>
  </header>
</div>
<div class="fullHeight silueta my-0 py-0 ">
  <main class="container my-sm-0 fullHeight py-3">
    <div class="row h-100 d-flex align-content-stretch ">
      <div class="row col justify-content-center align-content-center">
        <div class="col-md-8 card border-0 rounded-4 shadow col-auto  ">
          <img [src]="logo.urlImg" [alt]="logo.textAlt" [style.height]="'auto'" [style.width]="'auto'">
        </div>
      </div>

      <div class="col">
        <div class="row h-100 d-flex align-content-stretch">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</div>



